* {
    margin: 0;
    padding: 0;
    border: none;
}
html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}
body {
    background: #333;
    font: 110%/1.3em serif;
    text-align: left;
}
p {
    margin: 0.5em 0;
}

footer {
    position: fixed;
    right: 0.6em;
    bottom: 0.1em;
    font-size: 10px;
}

.universe {
    width: 800px;
    margin: 0 auto;
    background: #eee;
    border-radius: 0 0 30px 30px;
}

.site-header {
    background: #ccc;
    background: -webkit-linear-gradient(top, #bbb, #eee);
    background:    -moz-linear-gradient(top, #bbb, #eee);
    background:     -ms-linear-gradient(top, #bbb, #eee);
    background:      -o-linear-gradient(top, #bbb, #eee);
    background:         linear-gradient(top, #bbb, #eee);
}
.site-title {
    color: #321;
    margin: 0 0 0.5em;
    font: 80px Revalia, Arial, sans-serif;
    text-align: center;
}
.site-title a {
    text-decoration: none;
    color: #321;
}

.main-menu {
    height: 3em;
    background: transparent;
    background: -webkit-linear-gradient(top, #ddd, #eee, #ddd);
    background:    -moz-linear-gradient(top, #ddd, #eee, #ddd);
    background:     -ms-linear-gradient(top, #ddd, #eee, #ddd);
    background:      -o-linear-gradient(top, #ddd, #eee, #ddd);
    background:         linear-gradient(top, #ddd, #eee, #ddd);
    text-align: center;
}
.main-menu li {
    list-style: none;
    display: inline-block;
    height: 3em;
}
.main-menu a {
    display: block;
    padding: 1em;
}

.links {
}
.sites {
    list-style: none;
    padding: 1em 0 2em;
    text-align: center;
}
.sites li {
    list-style: none;
    display: inline-block;
    padding: 1em;
    vertical-align: middle;
}

.about-us {
    padding: 1em;
}
.band-name {
    white-space: nowrap;
    color: #444;
    text-decoration: none;
}
.style {
}
.members {
    margin: 1em 0 1em 2em;
}
    .members dt {
        color: green;
    }
    .members dd {
        margin-left: 4em;
        color: gray;
    }

.albums {
    padding: 1em;
    -webkit-column-count: 2;
       -moz-column-count: 2;
        -ms-column-count: 2;
         -o-column-count: 2;
            column-count: 2;
}
.album {
    position: relative;
    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
        -ms-column-break-inside: avoid;
         -o-column-break-inside: avoid;
            column-break-inside: avoid;
}
.album-title {
    font: bold 150% sans-serif;
}
.tracklist {
    margin: 1em 0 1em 2em;
    list-style: decimal-leading-zero;
}
.download {
    list-style: none;
}
.download li {
    display: inline-block;
}
.album.unreleased .album-title,
.album.unreleased .tracklist,
.album.unreleased .download {
    opacity: 0.4;
}
.coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 2.4em;
    margin: -1.3em 0 0 -3em;
    z-index: 2;
    font: 3em sans-serif;
    background: #333;
    border: 3px solid red;
    color: white;
    text-align: center;
    transform: rotate(-45deg);
}
